
.block{
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;

    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 1s;

 
}

.block:hover{
    width: 400px;
}


.con{
    position: absolute;
    top: 150px;
    left: 400px;
 
}